 h1{color: plum;}
    .container1{
        display: flex;
        background-color: purple;
        padding: 10px;
        margin-bottom: 20px;
    }
    .container2{
        display: flex;
        background-color: purple;
        padding: 15px;
        margin-bottom: 20px;
    }
    .container3{
        display: flex;
        background-color: purple;
        padding: 12px;
        margin-bottom: 20px;
        border: 2px ;
    }
    .box1{ 
        background-color: grey;
        height: 50px;
        flex: 2;
        margin: 0 10px;
        border: 2px;
    }
    .container4{
        display: flex;
        background-color: purple;
        padding: 12px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        border: 2px;
    
        }   .footer{
            background-color: grey;
            height: 60px;
            flex: 1 1 100%;
            margin: 15px 10px 0 10px;
            align-items: center;
            justify-content: center;
            border: 2px;
        }

    p{color: purple;}
    .box{
        background-color: grey;
        height: 50px;
        flex: 1;
        margin: 0 10px;
    }